<h1>Editing Book</h1>

<!--<form> HTMLのformタグの中に、Railsで作成されたのformが入ってしまい、2重になっている状態だった。-->
<%= render 'form', book: @book %>
<!--</form>-->

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
